<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<div layout:fragment="content" class="container">
    <style>
        .mypage-title {
            color: #6c757d;
            font-family: 'Arial', sans-serif;
            font-size: 36px;
            font-weight: bold;
            text-align: center;
            margin-top: 20px;
        }
    </style>


    <h2 class="mypage-title" th:text="${name} + '님의 마이페이지'"></h2>

    <h3>내 질문</h3>
    <ul>
        <li th:each="question : ${questions}">
            <a th:href="@{/question/detail/{id}(id=${question.id})}" th:text="${question.subject}"></a>
        </li>
    </ul>

    <h3>내 답변</h3>
    <ul>
        <li th:each="answer : ${answers}">
            <a th:href="@{/question/detail/{id}(id=${answer.question.id})}" th:text="${answer.question.subject}"></a>
        </li>
    </ul>

    <h3>좋아요 한 질문</h3>
    <ul>
        <li th:if="${#lists.isEmpty(likedQuestions)}">
            좋아요 한 질문이 없습니다.
        </li>

        <li th:each="question : ${likedQuestions}">
            <a th:href="@{/question/detail/{id}(id=${question.id})}"
               th:text="${question.subject}"></a>
        </li>
    </ul>
</div>

</html>
