<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
    <h5 class="my-3 border-bottom pb-2">질문등록</h5>
    <form th:object="${questionForm}" method="post" onsubmit="return disableSubmit(this);">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        
        <input type="hidden" id="actualSaveType" name="saveType" value="">

        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <label for="subject" class="form-label">제목</label>
            <input type="text" th:field="*{subject}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea th:field="*{content}" class="form-control" rows="10"></textarea>
        </div>

        <input type="submit" value="저장하기" 
               onclick="document.getElementById('actualSaveType').value=this.value;" 
               class="btn btn-primary my-2 submit-btn">
               
        <input type="submit" value="익명으로 저장하기" 
               onclick="document.getElementById('actualSaveType').value=this.value;" 
               class="btn btn-secondary my-2 submit-btn">
    </form>
</div>

<script layout:fragment="script" type='text/javascript'>
function disableSubmit(form) {
    const buttons = form.querySelectorAll('.submit-btn');
    
    // 버튼 비활성화는 데이터를 다 담은 후에 실행됨
    setTimeout(() => {
        buttons.forEach(button => {
            button.disabled = true;
            button.value = "처리 중...";
        });
    }, 0);
    
    return true; 
}
</script>
</html>