name: Build and push Docker image to GHCR

on:
  push:
    branches: [ "master" ]   # 네 기본 브랜치가 master면 main -> master로 바꿔

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: sbb/Dockerfile
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/springboot_project:latest
            ghcr.io/${{ github.repository_owner }}/springboot_project:${{ github.sha }}
